<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>Users</title>
</head>
<body>
<!-- навбар -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <p class="h4 text-white" >
        <b><span class="align-middle" th:text="${currentUser.email}"></span></b>
        <span class="align-middle">with roles:</span>
        <span class="align-middle" th:each="roleUser : ${currentUser.getRoles()}" th:text="${roleUser.getAuthority().replace('ROLE_',' ')}"></span>
    </p>
    <div class="collapse navbar-collapse" >
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>


<div class="d-flex flex-row no-gutters " >
    <!-- левая навигационая панель -->
    <div class="col-2 ">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
             aria-orientation="vertical" style="padding-top: 15px">
            <a class="nav-link active" href="/admin"
               role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</a>
            <a class="nav-link"  href="/user"
               role="tab" aria-controls="v-pills-profile" aria-selected="false">User</a>
        </div>
    </div>
    <!-- главный блок-->
    <div class="col bg-light min-vh-100" style=" padding: 20px">
        <div class="tab-content" tabindex="0" id="v-pills-tabContent">
            <p class="h1">Admin panel </p>
            <!-- навигация таблица, добавление нового юзера-->
            <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                           href="#nav-home" role="tab" aria-controls="nav-home"
                           aria-selected="true">Users table</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                           href="#nav-profile" role="tab" aria-controls="nav-profile"
                           aria-selected="false">New User</a>
                    </div>
                </nav>
            <div class="tab-content" id="nav-tabContent">
                <!-- таблица юзеров-->
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                     aria-labelledby="nav-home-tab">
                    <div class="table responsive border-secondary">
                        <div class="card">
                            <h5 class="card-header">All users</h5>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${users}" >
                                        <td th:text="${user.id}">Cell 1</td>
                                        <td th:text="${user.firstName}">Cell 2</td>
                                        <td th:text="${user.lastName}">Cell 2</td>
                                        <td th:text="${user.age}">Cell 2</td>
                                        <td th:text="${user.email}">Cell 2</td>
                                        <td>
                                            <span th:each="roleOfUser : ${user.getRoles()}" th:text="${roleOfUser.getAuthority().replace('ROLE_',' ')}"></span>
                                        </td>
                                        <td>
                                            <button class="btn btn-info" type="button" data-toggle="modal"
                                                    th:data-target="${'#editModal'+user.id}">Edit</button>

                                            <!-- Modal Edit-->
                                            <div class="modal fade" th:id="${'editModal'+user.id}" tabindex="-1" role="dialog"
                                                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <form th:method="PATCH" th:action="@{/admin/{id}/edit(id=${user.getId()})}" th:object="${user}">
                                                            <div class="modal-body">
                                                                <div class="form-group text-center">
                                                                    <div class="col-6 mx-auto">
                                                                        <label for="idCurrentUserEdit"><b>ID</b></label>
                                                                        <input th:name="id" disabled type="text" class="form-control"
                                                                               id="idCurrentUserEdit" th:value="${user.getId()}">
                                                                        <br>
                                                                        <label for="firstNameCurrentUserEdit"><b>First Name</b></label>
                                                                        <input th:name="firstName" type="text" class="form-control"
                                                                               id="firstNameCurrentUserEdit" th:value="${user.getFirstName()}" required>
                                                                        <br>
                                                                        <label for="lastNameCurrentUserEdit"><b>Last Name</b></label>
                                                                        <input th:name="lastName" type="text" class="form-control"
                                                                               id="lastNameCurrentUserEdit" th:value="${user.getLastName()}" required>
                                                                        <br>
                                                                        <label for="ageCurrentUserEdit"><b>Age</b></label>
                                                                        <input th:name="age" type="number" class="form-control"
                                                                               id="ageCurrentUserEdit" th:value="${user.getAge()}" required>
                                                                        <br>
                                                                        <label for="emailCurrentUserEdit"><b>Email</b></label>
                                                                        <input th:name="email" type="email" class="form-control"
                                                                               id="emailCurrentUserEdit" th:value="${user.getEmail()}" required>
                                                                        <br>
                                                                        <label for="passwordCurrentUserEdit"><b>Password</b></label>
                                                                        <input th:name="password" type="password" class="form-control"
                                                                               id="passwordCurrentUserEdit" required>
                                                                        <br>
                                                                        <label for="rolesEditUser"><b>Role</b></label>
                                                                        <div class="d-flex justify-content-center" >
                                                                            <select id="rolesEditUser" class="custom-select" size="3" multiple
                                                                                    name="rolesListEdit[]" required>
                                                                                <option th:each="role : ${roles}" th:value="${role.name}"
                                                                                        th:text="${role.name.replace('ROLE_',' ')}">Role name</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-primary">Edit</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger" type="button" data-toggle="modal"
                                                    th:data-target="${'#deleteModal'+user.id}">Delete</button>


                                            <!-- Modal Delete-->
                                            <div class="modal fade" th:id="${'deleteModal'+user.id}" tabindex="-1" role="dialog"
                                                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLongTitleDelete">Delete user</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <fieldset disabled>
                                                                <div class="form-group text-center">
                                                                    <div class="col-6 mx-auto">
                                                                        <label for="idCurrentUserDelete"><b>ID</b></label>
                                                                        <input th:name="id" type="text" class="form-control"
                                                                               id="idCurrentUserDelete" th:value="${user.getId()}">
                                                                        <br>
                                                                        <label for="firstNameCurrentUserDelete"><b>First Name</b></label>
                                                                        <input th:name="firstName" type="text" class="form-control"
                                                                               id="firstNameCurrentUserDelete" th:value="${user.getFirstName()}">
                                                                        <br>
                                                                        <label for="lastNameCurrentUserDelete"><b>Last Name</b></label>
                                                                        <input th:name="lastName" type="text" class="form-control"
                                                                               id="lastNameCurrentUserDelete" th:value="${user.getLastName()}">
                                                                        <br>
                                                                        <label for="ageCurrentUserDelete"><b>Age</b></label>
                                                                        <input th:name="age" type="number" class="form-control"
                                                                               id="ageCurrentUserDelete" th:value="${user.getAge()}">
                                                                        <br>
                                                                        <label for="emailCurrentUserDelete"><b>Email</b></label>
                                                                        <input th:name="email" type="email" class="form-control"
                                                                               id="emailCurrentUserDelete" th:value="${user.getEmail()}">
                                                                        <br>
                                                                        <label for="rolesDeleteUser"><b>Role</b></label>
                                                                        <div class="d-flex justify-content-center" >
                                                                            <select id="rolesDeleteUser" class="custom-select" size="3" >
                                                                                <option th:each="role : ${user.roles}"
                                                                                        th:text="${role.name.replace('ROLE_',' ')}">Role name</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <form th:method="DELETE" th:action="@{admin/{id}/delete(id=${user.getId()})}">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-danger">Delete</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- добавление нового юзера-->
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="table responsive border-secondary">
                        <div class="card">
                            <h5 class="card-header">Add new user</h5>
                            <div class="card-body">
                                <div class="col" >
                                    <form th:method="POST" th:action="@{admin/new}" th:object="${userAddNewUser}">
                                        <div class="form-group text-center">
                                            <div class="col-5 mx-auto ">

                                                <label for="firstNameAddNewUser"><b>First Name</b></label>
                                                <input type="text" class="form-control" placeholder="First Name" th:field="*{firstName}"
                                                       id="firstNameAddNewUser" required>

                                                <br>
                                                <label for="lastNameAddNewUser"><b>Last Name</b></label>
                                                <input type="text" class="form-control" placeholder="Last Name" th:field="*{lastName}"
                                                       id="lastNameAddNewUser" required>
                                                <br>
                                                <label for="ageAddNewUser"><b>Age</b></label>
                                                <input type="number" class="form-control" placeholder="Age" th:field="*{age}" id="ageAddNewUser" required>
                                                <br>
                                                <label for="emailAddNewUser"><b>Email</b></label>
                                                <input type="email" class="form-control" placeholder="Email" th:field="*{email}" id="emailAddNewUser" required>
                                                <br>
                                                <label for="passwordAddNewUser"><b>Password</b></label>
                                                <input type="password" class="form-control" placeholder="Password" th:field="*{password}"
                                                       id="passwordAddNewUser" required>
                                                <br>
                                                <label for="rolesAddNewUser"><b>Role</b></label>
                                                <div class="d-flex justify-content-center" >
                                                    <select id="rolesAddNewUser" class="custom-select" size="3" multiple name="rolesList[]" required>
                                                        <option th:each="role : ${roles}" th:value="${role.name}"
                                                                th:text="${role.name.replace('ROLE_',' ')}">Role name</option>
                                                    </select>
                                                </div>


                                                <div class="d-flex justify-content-center" style="padding: 15px">
                                                    <button type="submit" class="btn btn-success" >Add new user</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>