<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new user</title>
</head>
<body>
<form th:method="POST" th:action="@{/logout}">
    <button>Logout</button>
</form>

<br/>

<form th:method="POST" th:action="@{new}" th:object="${user}">
    <div>
        <label for="username">Username</label>
        <input type="text" th:field="*{username}" id="username"/>
        <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</div>
        <div style="color:red" th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">Error</p>
        </div>

        <br/>

        <label for="password">Password</label>
        <input type="password" th:field="*{password}" id="password"/>
        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</div>

        <br/>

        <label for="age">Age</label>
        <input type="text" th:field="*{age}" id="age"/>
        <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Error</div>

        <br/>

        <label for="email">Email</label>
        <input type="text" th:field="*{email}" id="email"/>
        <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</div>

        <br/>

        <label>Roles:
            <label><input type="checkbox" name="role" value="ROLE_ADMIN">ADMIN</label>
            <label><input type="checkbox" name="role" value="ROLE_USER">USER</label>

        </label>

        <br/>

        <input type="submit" value="Add user"/>
    </div>
</form>
</body>
</html>