<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<form th:method="POST" th:action="@{/logout}">
    <button>Logout</button>
</form>

<br/>

<h1>Your page</h1>

<p>Role: <a th:text="${user.roles}"/></p>
<p>Username: <a th:text="${user.username}"/></p>
<p>Email: <a th:text="${user.email}"/></p>
<p>ID: <a th:text="${user.id}"/></p>

</body>
</html>